.auth {
  width: 320px;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3300ff;
  color: #fff;
}

.auth h1 {
  margin-top: 50px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  width: 250px;
}

.auth img {
  width: 250px;
  margin-bottom: 30px;
  margin-top: 0px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input {
  width: 250px;
  height: 35px;
  padding-left: 15px;
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 15px;
  outline: none;
  color: #fff;
}

.input::placeholder {
  color: #fff;
}

.p {
  font-size: 12px;
  display: flex;
  gap: 5px;
}

.p a {
  text-decoration: underline;
}

.btn {
  background-color: #ffd736;
  max-width: 300px;
  width: auto;
  height: 35px;
  border: none;
  border-radius: 20px;
  font-weight: 900;
  margin-top: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 10px;
}

.btn:hover {
  background-color: #ffd736;
}

.auth select {
  width: 250px;
  height: 35px;
  margin-top: 20px;
  background-color: #fff;
  padding-left: 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #fff;
  color: #000;
}
.selectLang {
  max-width: 150px;
}
