.profile {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload {
  width: 100px;
  height: 90px;
  cursor: pointer;
  border-radius: 10px;
}

.profile_top {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.profile img:hover {
  filter: brightness(90%);
}

.profile h3 {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #cf4dff;
}

.functBlocks {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-bottom: 20px;
}

.profile h4 {
  color: #cf4dff;
}

.textBlock {
  display: flex;
  width: 280px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 10px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left span {
  color: #9f00a7;
  margin-top: -15px;
  width: 150px;
  font-size: 13px;
}

.textBlock img {
  height: 30px;
  width: 50px;
  border-radius: 3px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.modalContent form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.modalContent input {
  background-color: #ffffff;
  border: 2px solid #ea00ff;
  border-radius: 5px;
  color: #ea00ff;
  padding: 7px 10px;
  width: 300px;
  margin-bottom: 5px;
}

.modalContent input::placeholder {
  color: #ea00ff;
}

.modalContent {
  font-size: 10px;
}

.mainBtn {
  background-color: #cf4dff;
  padding: 6px 20px;
  border-radius: 5px;
  color: #fff;
  margin-top: -20px;
  margin-bottom: -15px;
  width: 100%;
}

.closeBtn {
  width: 100%;
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ea00ff;
  border: 2px solid #ea00ff;
  border-radius: 5px;
  margin-top: 5px;
}

.removeBtn {
  width: 100%;
  margin-top: 20px;
  background-color: #ff6ca2;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  border-radius: 5px;
}