body {
  background-color: #fff1e1;
}

.main_block {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top {
  margin-top: 50px;
  width: 280px;
}

.main_block span {
  margin-bottom: 20px;
  color: #0400ff;
}

.main_block h1 {
  color: #ff5e00;
  font-weight: 900;
  font-size: 47px;
  text-transform: uppercase;
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.main_block p {
  font-size: 13px;
  width: 250px;
  margin-left: 10px;
}

.bottom {
  position: absolute;
  bottom: 0;
  height: 150px;
  background-color: #0400ff;
  width: 100%;
}

#signIn {
  background-color: #ffcc00;
  width: 200px;
  margin-top: 35px;
  height: 35px;
  border: none;
  border-radius: 20px;
  font-weight: 900;
  margin-bottom: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

#signUp {
  background-color: #ff5e00;
  width: 230px;
  height: 35px;
  border: none;
  border-radius: 20px;
  font-weight: 900;
  margin-bottom: 10px;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

#signIn:hover {
    background-color: #a68604;
}

#signUp:hover {
    background-color: #de5302;
}

.image {
  z-index: 2;
  width: 270px;
  margin-top: 13px;
}
