.achievments {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.achievBlock {
  width: 280px;
  height: 50px;
  background-color: #c2ffbf;
  border: 1px solid #cf4dff;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.achievments span {
  border-radius: 10px;
  position: relative;
  z-index: 1;
  margin-left: 10px;
  color: #ff6ca2;
  font-weight: 800;
}

.progressBar {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e8aaff;
  z-index: 0;
  transition: width 0.3s ease;
}
